{% extends 'base.html' %}

{% block title %}
    Todo Lists
{% endblock title %}

{% block content %}
    <main>
        <div>
            <h1> {{item.name}} </h1>
            <p>
                <a href="{% url 'todo_list_delete' item.id %}"> Delete</a>
            </p>
            <p>
                <a href="{% url 'todo_list_update' item.id %}"> Edit</a>
            </p>
            <h2> Tasks </h2>
            <table>
                <thread>
                    <tr>
                        <th> Task </th>
                        <th> Due date </th>
                    </tr>
                </thread>
                <tbody>
                    {% for get in item.items.all %}
                    <tr>
                        <td>
                            <a href="{% url 'todo_item_update' get.id %}"> {{get.task}} </a>
                        </td>
                        <td> {{get.due_date}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock content %}
