{% extends "base.html" %}

{% block title %}
    Todo Lists
{%endblock title%}

{%block content%}
        <main>
            <div>
                <h1>My Lists</h1>
                <p>
                    <a href= {% url 'todo_item_create' %}> a new item </a>
                </p>
                <p>
                    <a href={% url 'todo_list_create'%}> Create list <a>
                </p>
                <table>
                    <thread>
                    <tr>
                        <th>Name</th>
                        <th>Number of items</th>
                    </tr>
                    </thread>
                    <tbody>
                    {% for entry in todo %}
                    <tr>
                        <td>
                            <a href="{% url 'todo_list_detail' entry.id%}" >{{ entry }} </a>
                        </td>
                        <td> {{ entry.items.all|length}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
{%endblock content%}
