<!DOCTYPE html>
<html lang="en">
    <head>

        <title>
            {% block title%} {% endblock title%}
        </title>
    </head>
    <body>
        {% block content%}{% endblock content%}
    </body>
</html>
